* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #333;
}


header {
  background-color: #0056a6;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}


h3 {
  font-size: 22px;   
  font-weight: bold; 
  color: #333;       
  margin-bottom: 10px;
}


.nav {
  padding: 10px 20px;
}

.searchNav {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  align-items: center;
}

header .logo {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.search-container {
  flex: 1;
  margin: 0 20px;
  display: flex;
  align-items: center;
}

.search-container input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
}

.search-container input:focus {
  outline: none;
  box-shadow: none;
}

.search-container button {
  background-color: #ced8eb;
  display: flex;
  align-self: center;
  justify-content: center;
  border: none;
  padding: 4px 8px;
  margin-left: 2px;
  cursor: pointer;
  border-radius: 3px;
}

.search-container button:hover{
  background-color: #e0ebff;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ccc;
}

h2.title {
  text-align: left;
  margin: 30px 0 20px 40px;
  font-size: 24px;
  font-weight: bold;
}


.container {
  padding: 0 40px;
}

.user-content {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}


.perfil-card {
  flex: 1;
  background: white;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.perfil-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.perfil-card p {
  font-size: 14px;
  margin-bottom: 8px;
}

.editar-btn {
  background: #004aad;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.editar-btn:hover {
  background: #004badef;
}


.pedidos-card {
  flex: 2;
  background: white;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.pedidos-card h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.pedido-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 14px;
  background: #fafafa;
}


@media (max-width: 768px) {
  .user-content {
    flex-direction: column;
  }
}
